:root {
	--plugin-white-color: #fff;
	--plugin-background-color: #202123;
	--plugin-navigation-color: #282a2d;
	--plugin-border-color: #e4e6eb;
	--plugin-link-color: #83888c;
	--plugin-primary-color: #007fff;
	--plugin-title-color: #303133;
	--plugin-text-color: #909399;
	--plugin-card-background: #fff;
	--plugin-hover-background: #dcdfe6;
}

.el-card {
	background-color: var(--plugin-card-background);
	border-color: var(--plugin-border-color);

	.el-card__header {
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom-color: var(--plugin-border-color);

		.title-box {
			font-size: 16px;
			font-weight: bold;
			color: var(--plugin-title-color);
		}

		.desc-box {
			font-size: 12px;
			color: var(--plugin-text-color);
		}

		.refresh-button {
			margin-left: 10px;
			cursor: pointer;
		}
	}

	.el-card__body {
		padding: 15px;
	}
}

.plugin-dialog {

	.el-dialog__header {
		padding: 15px;

		.el-dialog__headerbtn {
			top: 8px;
			right: 8px;
			width: 30px;
			height: 30px;
			border-radius: 30px;
		}
	}

	.el-dialog__body {
		padding: 15px;

		.el-select, .el-input {
			width: 100%;

			.el-input__inner {
				border: none;
			}

			.el-select__input {
				border: none;
			}

			&.is-disabled {
				.el-input__wrapper {
					background-color: transparent;
				}
			}
		}
	}
}

.plugin-set-nickname {
	margin-left: 15px;
	text-align: center;
	border-radius: 2px;
	padding: 9px 0;
	cursor: pointer;
	font-size: 14px;
	width: 120px;
	border: 1px solid var(--plugin-border-color);
	color: var(--plugin-text-color);

	&:hover {
		border-color: var(--plugin-primary-color);
		color: var(--plugin-primary-color);
	}
}

.plugin-nick {
	font-size: 13px;
	color: var(--plugin-text-color);
	margin-left: 6px;
	margin-right: 6px;
}

.user-info-block {
	.plugin-set-nickname {
		padding: 6px 0;
		width: 100px;
	}
}