html[data-theme="dark"] {
	--plugin-white-color: #fff;
	--plugin-background-color: #202123;
	--plugin-navigation-color: #282a2d;
	--plugin-border-color: #3f4042;
	--plugin-link-color: #83888c;
	--plugin-primary-color: #007fff;
	--plugin-title-color: #e8eaed;
	--plugin-text-color: #868c91;
	--plugin-card-background: #282a2d;
	--plugin-hover-background: #404142;

	background: var(--plugin-background-color) !important;

	a {
		color: var(--plugin-link-color) !important;
	}

	// 顶部栏
	.main-header {
		background-color: var(--plugin-navigation-color) !important;
		border-bottom-color: var(--plugin-border-color) !important;

		.container {
			.logo {
				background-color: var(--plugin-white-color) !important;
				padding: 4px 10px;
				border-radius: 20px;
			}

			.main-nav {
				.nav-list {
					.main-nav-list {
						.phone-hide {
							.nav-item {
								a {
									color: var(--plugin-link-color) !important;
								}

								&.active {
									a {
										color: var(--plugin-primary-color) !important;
									}
								}
							}
						}
					}

					.right-side-nav {
						.search-add {
							.search-add-ul {
								.nav-item {
									color: var(--plugin-text-color) !important;

									.search-form {
										border-color: var(--plugin-border-color) !important;
										background-color: var(--plugin-background-color) !important;

										.search-input {
											color: var(--plugin-text-color) !important;
										}

										.seach-icon-container {
											background-color: var(--plugin-card-background) !important;
										}

										.typehead {
											border-color: var(--plugin-border-color) !important;
											background-color: var(--plugin-card-background) !important;

											.title {
												border-bottom-color: var(--plugin-border-color) !important;
											}

											.list {
												color: var(--plugin-text-color) !important;

												div:hover {
													background-color: var(--plugin-hover-background) !important;
													color: var(--plugin-white-color) !important;
												}
											}
										}
									}
								}
							}
						}

						.notification {
							background-color: var(--plugin-navigation-color) !important;

							.menu-list {
								background-color: var(--plugin-card-background) !important;

								.menu-item {
									.item-link {
										color: var(--plugin-link-color) !important;
									}

									&:hover {
										background-color: var(--plugin-hover-background) !important;
									}
								}
							}
						}

						.menu {
							background-color: var(--plugin-navigation-color) !important;

							.drop-down-menu {
								background-color: var(--plugin-card-background) !important;
								border-color: var(--plugin-border-color) !important;

								.user-card {
									.user-info {
										.user-detail {

											a {
												color: var(--plugin-link-color) !important;
											}
										}
									}

									.actions-count-list {
										border-bottom-color: var(--plugin-border-color) !important;

										.item {
											a {
												color: var(--plugin-link-color) !important;

												.item-count {
													color: var(--plugin-link-color) !important;
												}

												.item-name {
													color: var(--plugin-link-color) !important;
												}
											}
										}
									}
								}

								.dropdown-list {
									border-bottom-color: var(--plugin-border-color) !important;

									.dropdown-item {
										color: var(--plugin-link-color) !important;

										.open-menu-page {
											color: var(--plugin-link-color) !important;
										}

										&:hover {
											background-color: var(--plugin-hover-background) !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// 首页
	.index-container {
		.index-nav {
			background-color: var(--plugin-card-background) !important;

			.side-navigator-wrap {
				color: var(--plugin-text-color) !important;

				.nav-item-wrap {
					.nav-item-content {
						.nav-item {
							color: var(--plugin-text-color) !important;
						}

						&.active-nav, &:hover {
							background-color: var(--plugin-hover-background) !important;
						}
					}
				}
			}
		}

		.hot-list-container {
			.hot-list-wrap {
				background-color: var(--plugin-card-background) !important;

				.hot-list-item {
					border-right-color: var(--plugin-border-color) !important;

					.hot-item-header {
						.hot-title {
							color: var(--plugin-title-color) !important;
						}

						.item-header-button {
							color: var(--plugin-link-color) !important;
						}
					}

					.hot-item-body {
						.skeleton {
							.hot-item {
								.hot-item-text {
									color: var(--plugin-text-color) !important;
								}

								&:hover {
									.hot-item-text {
										color: var(--plugin-primary-color) !important;
									}
								}
							}
						}
					}
				}
			}
		}

		.entry-list-container, .tag-entry-list-box {
			background-color: var(--plugin-card-background) !important;

			.list-header {
				border-bottom-color: var(--plugin-border-color) !important;

				.list-nav {
					.nav-list {
						.nav-item {
							a {
								color: var(--plugin-text-color) !important;
							}

							&.active {
								a {
									color: var(--plugin-primary-color) !important;
								}
							}
						}
					}
				}
			}

		}

		.index-aside {
			.sidebar-block {
				&.signin {
					background-color: var(--plugin-card-background) !important;

					.first-line {
						.icon-text {
							.title {
								color: var(--plugin-title-color) !important;
							}

							.second-line {
								color: var(--plugin-text-color) !important;
							}
						}
					}
				}

				&.app-download-sidebar-block {
					background-color: var(--plugin-card-background) !important;

					.block-body {
						.jj-app-link {
							.content-box {
								.headline {
									color: var(--plugin-title-color);
								}
							}
						}
					}
				}

				&.link-block {
					background-color: var(--plugin-card-background) !important;

					.link-list {
						.item {
							.link {
								.title {
									color: var(--plugin-title-color);
								}
							}

							&:hover {
								background-color: var(--plugin-hover-background) !important;
							}
						}
					}
				}
			}
		}
	}

	// 标签页
	.tag-view {
		.tag-info-box {
			background-color: var(--plugin-card-background) !important;
			border-bottom-color: var(--plugin-border-color) !important;

			.tag-info {
				.title {
					color: var(--plugin-title-color) !important;
				}

				.tag-meta {
					color: var(--plugin-text-color) !important;
				}
			}
		}

		.tag-entry-list-box {
			.list-header {
				.nav-list {
					.nav-item {
						&.active {
							a {
								color: var(--plugin-primary-color) !important;
							}
						}
					}
				}
			}
		}
	}

	// 直播页
	.live-list-section {
		background-color: var(--plugin-card-background) !important;

		.live-list-header {
			color: var(--plugin-title-color) !important;

			.live-list-title {
				color: var(--plugin-title-color) !important;
			}
		}

		.filter-row {
			.live-activity-select {
				.title {
					color: var(--plugin-title-color) !important;
				}

				.list-wrapper {
					.list {
						.option {
							color: var(--plugin-link-color) !important;

							&:hover {
								background-color: var(--plugin-hover-background);
							}
						}

						.option.active {
							color: var(--plugin-title-color) !important;
							background-color: var(--plugin-hover-background);
						}
					}
				}
			}
		}

		.live-list {
			.live-list-inner {
				.live-li {
					.live-item {
						.item-name {
							color: var(--plugin-title-color) !important;
						}
					}
				}
			}
		}
	}

	// 沸点页
	.pin_container {
		.dock-nav {
			background-color: var(--plugin-card-background) !important;

			.item {
				.title {
					color: var(--plugin-title-color) !important;

					&.active, &:hover {
						background-color: var(--plugin-hover-background) !important;
					}
				}

				.topic_list {
					.topic {
						color: var(--plugin-link-color) !important;

						&.active, &:hover {
							color: var(--plugin-title-color) !important;
							background-color: var(--plugin-hover-background) !important;
						}
					}
				}
			}
		}

		.mask {
			background-color: var(--plugin-background-color) !important;
		}

		.sortlist {
			background-color: var(--plugin-card-background) !important;
			border-bottom-color: var(--plugin-border-color) !important;

			a {
				color: var(--plugin-link-color) !important;

				&.active, &:hover {
					color: var(--plugin-primary-color) !important;
				}
			}
		}

		.sidebar {
			.userbox {
				background-color: var(--plugin-card-background) !important;

				.profile {
					border-bottom-color: var(--plugin-border-color) !important;

					.user-info {
						.position {
							color: var(--plugin-text-color) !important;
						}
					}
				}

				.status {
					.item {
						.count {
							color: var(--plugin-title-color) !important;
						}

						.title {
							color: var(--plugin-text-color) !important;
						}
					}
				}
			}

			.list_box {
				background-color: var(--plugin-card-background) !important;

				.title {
					color: var(--plugin-title-color) !important;
					border-bottom-color: var(--plugin-border-color) !important;
				}

				.hot_list {
					.hot_item {
						.hot_content {
							.content {
								color: var(--plugin-title-color) !important;
							}

							.count {
								color: var(--plugin-text-color) !important;
							}
						}

						&:hover {
							background-color: var(--plugin-hover-background) !important;

							.hot_content {
								.content {
									color: var(--plugin-primary-color) !important;
								}
							}
						}
					}
				}

				.theme_list {
					.item {
						.content {
							color: var(--plugin-title-color) !important;

							.content-label {
								color: var(--plugin-title-color) !important;
							}
						}

						.hot {
							color: var(--plugin-text-color) !important;
						}
					}
				}

				.moreTopics {
					border-top-color: var(--plugin-border-color) !important;
					color: var(--plugin-text-color) !important;

					svg {
						fill: var(--plugin-text-color) !important;
					}
				}
			}

			.guide-link {
				background-color: var(--plugin-card-background) !important;
				color: var(--plugin-text-color) !important;
			}
		}
	}

	// 消息页
	.notification-view {
		.view-nav {
			background-color: var(--plugin-card-background) !important;

			&:before {
				background-color: var(--plugin-card-background) !important;
			}

			.nav-item {
				color: var(--plugin-link-color);

				&.active, &:hover {
					.title {
						color: var(--plugin-primary-color) !important;
					}
				}
			}
		}

		.notification-list {
			.item {
				.notification {
					background: var(--plugin-card-background);

					.right {
						.top {
							.content {
								.comment {
									background: var(--plugin-background-color);
									border-color: var(--plugin-border-color);
									color: var(--plugin-title-color);
								}
							}
						}

						.bottom {
							color: var(--plugin-text-color);
						}
					}

					.user-notification {
						background: var(--plugin-card-background);

						.others {
							border-bottom-color: var(--plugin-border-color);

							.comment {
								background: var(--plugin-background-color);
								color: var(--plugin-text-color);
								border-color: var(--plugin-border-color);
							}
						}
					}

					.profile {

						.title {
							color: var(--plugin-text-color);

							.title-article {
								color: var(--plugin-title-color);

								&:hover {
									color: var(--plugin-primary-color);
								}
							}
						}
					}
				}
			}
		}

		.chat-view {
			// 左边
			.conversation-container {
				border-right-color: var(--plugin-border-color);

				.bhdLno {
					background: var(--plugin-card-background);

					.gnwqMi {
						background: var(--plugin-card-background);

						.search-input {
							background: var(--plugin-background-color);
							color: var(--plugin-title-color);
						}
					}

					.message-item {
						&:hover, &.active {
							background: var(--plugin-hover-background);
						}

						.preview {
							color: var(--plugin-text-color);
						}
					}
				}
			}

			// 聊天窗口
			.irPtrP {
				.gbgfMs {
					background: var(--plugin-card-background);
					border-bottom-color: var(--plugin-border-color);

					.operate-menu {
						.dXWCyY {
							background: var(--plugin-card-background);
							border-color: var(--plugin-border-color);

							.dropdown-list {
								.item {
									color: var(--plugin-title-color);

									&:hover {
										background: var(--plugin-hover-background);
									}
								}
							}
						}
					}
				}

				.chat-content {
					background: var(--plugin-card-background);

					.first-need-hint {
						color: var(--plugin-text-color);
					}

					.input_container {
						.dWjUC {
							border-top-color: var(--plugin-border-color);

							.toolbar-im {

							}

							.text-area {
								color: var(--plugin-title-color);
								background-color: var(--plugin-card-background);
							}

							.input-footer {
								color: var(--plugin-text-color);
							}
						}
					}
				}
			}

			.message-list {
				.message-item {
					.iDhzRL {
						color: var(--plugin-text-color);
					}

					.content_body {
						background-color: var(--plugin-background-color);
						color: var(--plugin-title-color);
					}

					.is-first-reply {
						color: var(--plugin-text-color);
					}
				}
			}

			// 空
			.empty {
				background: var(--plugin-card-background);

				.empty-label {
					color: var(--plugin-text-color);
				}
			}
		}
	}

	// 沸点详情页
	.pin-view {
		.sidebar {
			.related-pin-block {
				background-color: var(--plugin-card-background);

				header {
					color: var(--plugin-title-color);
					border-bottom-color: var(--plugin-border-color);
				}

				.pin-list {
					.item {
						.content-box {

							.content {
								span[data-node="theme"] {
									color: var(--plugin-text-color) !important;
								}

								color: var(--plugin-title-color);
							}
						}

						&:hover {
							background-color: var(--plugin-card-background);

							.content-box {

								.content {
									color: var(--plugin-primary-color);
								}
							}
						}
					}
				}
			}
		}
	}

	// 用户页
	.user-view {
		.user-info-block {
			background-color: var(--plugin-card-background);

			.setting-btn {
				background-color: transparent;
			}
		}

		.badge-wall {
			background-color: var(--plugin-card-background);

			.badge-wrap {
				border-top-color: var(--plugin-border-color);
			}
		}

		.list-block {
			.list-header {
				background-color: var(--plugin-card-background);
				border-bottom-color: var(--plugin-border-color);

				.nav-item {
					.item-title {
						color: var(--plugin-title-color);
					}

					&.active, &:hover {
						.item-title {
							color: var(--plugin-primary-color);
						}
					}
				}

				.search-icon-container {
					background-image: none;
				}

				.search-input {
					input {
						background: var(--plugin-background-color);
						color: var(--plugin-title-color);
						border-color: var(--plugin-border-color);
					}
				}

				.list-buttons {
					.list-button {
						background: transparent;
						color: var(--plugin-text-color);

						&:hover {
							color: var(--plugin-title-color) !important;
						}

						&.active {
							background: var(--plugin-hover-background);
							color: var(--plugin-title-color) !important;
						}
					}
				}
			}

			.empty-box {
				background: var(--plugin-card-background);
				color: var(--plugin-text-color);
			}
		}

		.search-list-box {
			background: var(--plugin-card-background);
		}

		.concern-list-box {
			background-color: var(--plugin-card-background);
		}

		.collection-list {
			background-color: var(--plugin-card-background);

			.item {
				background-color: var(--plugin-card-background);
			}
		}

		.sub-header {
			border-bottom-color: var(--plugin-border-color);
			background-color: var(--plugin-card-background);

			.sub-header-title {
				color: var(--plugin-title-color);
			}

			.sub-type-box {
				.sub-type {
					color: var(--plugin-link-color);

					&.active, &:hover {
						color: var(--plugin-primary-color) !important;
					}
				}
			}
		}

		.stat-block {
			background: var(--plugin-card-background);

			.block-title {
				color: var(--plugin-title-color);
				border-bottom-color: var(--plugin-border-color);
			}

			.block-body {
				.stat-item {
					color: var(--plugin-title-color);

					.content {
						color: var(--plugin-title-color);
					}
				}
			}
		}

		.follow-block {
			background: var(--plugin-card-background);

			.follow-item {
				color: var(--plugin-title-color) !important;
			}

			&:after {
				background-color: var(--plugin-border-color);
			}
		}

		.more-block {
			.more-item {
				border-top-color: var(--plugin-border-color);
				border-bottom-color: var(--plugin-border-color);

				.item-title {
					color: var(--plugin-title-color);
				}

				.item-count {
					color: var(--plugin-title-color);
				}
			}
		}
	}

	// 圈子广场
	.topic-view {
		.my-topic, .topic-square {
			background-color: var(--plugin-card-background);

			.categories {
				.more-categories {
					background-color: var(--plugin-hover-background);
					color: var(--plugin-text-color);
				}
			}
		}
	}

	// 人气圈子
	.hot-topic {
		background-color: var(--plugin-card-background);

		.topic-title {
			color: var(--plugin-title-color) !important;
		}
	}

	// 专栏列表
	.column-container {
		background-color: var(--plugin-card-background);

		.column-link {
			.column-wrap {
				.column-right {
					border-bottom-color: var(--plugin-border-color);

					.content {
						color: var(--plugin-text-color);
					}

					.infos {
						color: var(--plugin-text-color);
					}
				}

				&:hover {
					background-color: var(--plugin-hover-background);
				}
			}
		}
	}

	// 标签列表
	.tag-list {
		.item {
			border-bottom-color: var(--plugin-border-color);
		}
	}

	// 文章列表
	.entry-list {
		background-color: var(--plugin-card-background) !important;

		.item {
			.advertisement {

				.main {
					border-bottom-color: var(--plugin-border-color);

					.info-box {
						.title {
							color: var(--plugin-title-color) !important;
						}
					}
				}
			}

			.entry {
				background-color: var(--plugin-card-background) !important;

				.content-wrapper {
					border-bottom-color: var(--plugin-border-color) !important;

					.content-main {
						.title-row {
							.title {
								color: var(--plugin-title-color) !important;
							}
						}
					}
				}

				&:hover {
					background-color: var(--plugin-hover-background) !important;
				}
			}

			.meta-container {
				.user-message {
					.userbox, .user-popover {
						color: var(--plugin-text-color);
					}
				}
			}
		}
	}

	// 沸点列表
	.pin-list {
		background-color: var(--plugin-background-color);
	}

	// 单个沸点
	.pin {
		background-color: var(--plugin-card-background) !important;

		.pin-header-row {
			.account-group {
				.pin-header-content {
					.meta-box {
						color: var(--plugin-text-color) !important;
					}
				}
			}
		}

		.dislike-entry {
			.icon {
				&:hover {
					background-color: var(--plugin-hover-background) !important;
				}

				.dislike-list {
					background-color: var(--plugin-background-color) !important;

					.dislike-menu {
						border-color: var(--plugin-border-color) !important;

						.dislike-li {
							color: var(--plugin-title-color) !important;

							&:hover {
								background-color: var(--plugin-hover-background) !important;
							}
						}
					}
				}
			}
		}

		.pin-content-row {
			.content-box {
				color: var(--plugin-title-color) !important;
			}
		}

		.club-digg-row {
			.pin-club-box {
				.club {
					background-color: var(--plugin-hover-background);

					span {
						color: var(--plugin-link-color) !important;
					}
				}
			}

			.digg-box {
				.list {
					.item {
						border-color: var(--plugin-border-color) !important;
					}
				}
			}
		}

		.pin-action-row {
			.action-box {
				border-top-color: var(--plugin-border-color) !important;

				.share-action {
					.share-panel {
						background-color: var(--plugin-background-color) !important;
						border-color: var(--plugin-border-color) !important;
						border-radius: 4px;

						.share-item {
							border-bottom-color: var(--plugin-border-color) !important;

							.share-title-box {
								.share-title {
									color: var(--plugin-text-color);
								}
							}
						}
					}
				}
			}
		}

		.pin-comment-row {
			border-top-color: var(--plugin-border-color) !important;

			.triangle-top {
				.triangle {
					border-right-color: var(--plugin-border-color) !important;
					border-bottom-color: var(--plugin-border-color) !important;
					background: var(--plugin-card-background) !important;
				}
			}

			.container {
			}
		}

		.hot-comment-row {
			background: var(--plugin-background-color) !important;

			.desc {
				color: var(--plugin-text-color) !important;
			}
		}
	}

	// 发沸点
	.pin-editor-dialog {
		background-color: var(--plugin-card-background) !important;

		.editor-header {
			.title {
				color: var(--plugin-title-color);
			}

			.close {
				&:before, &:after {
					background-color: var(--plugin-title-color);
				}
			}
		}

		.editor-body {
			.content {
				background-color: var(--plugin-background-color) !important;
				border-color: var(--plugin-border-color) !important;

				.editor-content {
					.auth-card {
						.rich-editor {
							color: var(--plugin-title-color) !important;
						}
					}
				}

				.topicwrapper {
					.new_topic {
						background-color: var(--plugin-hover-background) !important;
					}
				}

				.image {
					.select-box {
						background-color: var(--plugin-card-background) !important;
						border-color: var(--plugin-border-color) !important;

						&:before {
							background-color: var(--plugin-text-color);
						}
					}
				}
			}
		}

		.pin-editor-bottom {
			.editor-toolbar {
				.tool {

					.file-picker {
						svg {
							fill: var(--plugin-title-color) !important;
						}

						span {
							color: var(--plugin-title-color) !important;
						}

						&:hover {
							svg {
								fill: var(--plugin-primary-color) !important;
							}

							span {
								color: var(--plugin-primary-color) !important;
							}
						}
					}

					.link-picker {
						.select {
							svg {
								fill: var(--plugin-title-color) !important;
							}

							span {
								color: var(--plugin-title-color) !important;
							}

							&:hover {
								svg {
									fill: var(--plugin-primary-color) !important;
								}

								span {
									color: var(--plugin-primary-color) !important;
								}
							}
						}

						.linkPanel {
							background-color: var(--plugin-background-color) !important;

							.triangle {
								border-bottom-color: var(--plugin-background-color) !important;
							}

							.input {
								input {
									background-color: var(--plugin-card-background) !important;
									border-color: var(--plugin-border-color) !important;
									color: var(--plugin-title-color) !important;
								}
							}

							.tip {
								color: var(--plugin-title-color) !important;
							}
						}
					}

					.theme_wrapper {
						.topic-picker {
							.topic-selector {
								svg {
									fill: var(--plugin-title-color) !important;
								}

								span {
									color: var(--plugin-title-color) !important;
								}

								&:hover {
									svg {
										fill: var(--plugin-primary-color) !important;
									}

									span {
										color: var(--plugin-primary-color) !important;
									}
								}
							}

							.topic_panel {
								background-color: var(--plugin-background-color) !important;

								.triangle {
									border-bottom-color: var(--plugin-background-color) !important;
								}

								.top {
									color: var(--plugin-title-color) !important;
									border-color: var(--plugin-border-color) !important;

									.search_input {
										.byte-input__input {
											background-color: var(--plugin-card-background) !important;
											border-color: var(--plugin-border-color) !important;
										}
									}
								}
							}

							.content {
								.main_list {
									li {
										color: var(--plugin-text-color) !important;

										&:hover {
											color: var(--plugin-primary-color) !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// 单个动态
	.activity-item {
		background-color: var(--plugin-card-background);

		.source-header {
			color: var(--plugin-text-color);
			border-bottom-color: var(--plugin-border-color);
		}
	}

	// 单个标签
	.topic-item {
		.content {
			a {
				color: var(--plugin-title-color) !important;
			}
		}
	}

	// 表情输入
	.emoji-container {
		.emoji-box {
			svg {
				fill: var(--plugin-title-color) !important;
			}

			span {
				color: var(--plugin-title-color) !important;
			}

			&:hover {
				svg {
					fill: var(--plugin-primary-color) !important;
				}

				span {
					color: var(--plugin-primary-color) !important;
				}
			}
		}

		.picker {
			background-color: var(--plugin-background-color) !important;

			.picker_header {
				border-bottom-color: var(--plugin-border-color) !important;

				.emotion_box {
					&.active {
						background-color: var(--plugin-hover-background) !important;
					}
				}
			}

			.picker_body {
				.picker_container {
					.picker_item {
						.title {
							color: var(--plugin-text-color) !important;
						}
					}
				}
			}
		}
	}

	// 评论区
	.comment-list-box {
		background-color: var(--plugin-card-background);
	}

	// 评论列表
	.comment-list-wrapper {
		.title {
			color: var(--plugin-title-color);

			.sort {
				color: var(--plugin-text-color);
				background-color: var(--plugin-background-color);

				.item {
					&.active {
						color: var(--plugin-primary-color);
						background-color: var(--plugin-card-background);
					}
				}
			}
		}

		.comment-list {
		}

		.fetch-more-comment {
			color: var(--plugin-link-color) !important;
			border-top-color: var(--plugin-border-color) !important;
		}
	}

	// 单条评论
	.comment {
		border-bottom-color: var(--plugin-border-color) !important;

		.repliedname {
			color: var(--plugin-title-color) !important;
		}

		.content {
			color: var(--plugin-text-color) !important;
		}

		.sub-comment-list {
			background: var(--plugin-background-color) !important;

			.sub-comment {
				border-bottom-color: var(--plugin-border-color) !important;

				.parent-wrapper {
					border-color: var(--plugin-border-color);
					color: var(--plugin-text-color) !important;
					background: var(--plugin-card-background) !important;
				}
			}

			.fetch-more {
				.fetch-more-comment {
					color: var(--plugin-link-color);
				}
			}
		}
	}

	// 评论表单
	.comment-form {
		background: transparent !important;

		&.reply {
			padding: 10px 0;
		}

		&:after {
			background: var(--plugin-border-color) !important;
		}

		.header {
			.header-title {
				color: var(--plugin-title-color);
			}
		}

		.form-box {
			.auth-card {
				.input-box {
					border: none;

					.rich-input {
						border: 1px solid var(--plugin-border-color) !important;
						color: var(--plugin-title-color) !important;
						background: var(--plugin-background-color) !important;

						&:focus {
							border-color: var(--plugin-primary-color) !important;
						}
					}
				}
			}

			.action-box {
				.image-btn {
					svg {
						fill: var(--plugin-title-color) !important;
					}

					span {
						color: var(--plugin-title-color) !important;
					}

					&:hover {
						svg {
							fill: var(--plugin-primary-color) !important;
						}

						span {
							color: var(--plugin-primary-color) !important;
						}
					}
				}
			}
		}
	}

	// 用户名 | 名称 ｜ 标题
	.username, .name, .title {
		color: var(--plugin-title-color) !important;
		border-bottom-color: var(--plugin-border-color) !important;

		.name-text {
			color: var(--plugin-title-color);
		}
	}

	// 私信表情弹窗
	.emoji-popover {
		.cYLuAZ {
			background: var(--plugin-background-color);
		}

		.arco-popover-arrow {
			background-color: var(--plugin-background-color);
			border-color: var(--plugin-border-color);
		}
	}

	// 分割线
	.divide {
		background: var(--plugin-border-color) !important;
	}

	// 下拉
	.byte-dropdown {
		.byte-icon {
			color: var(--plugin-link-color);
			border-radius: 2px;
			background-color: transparent !important;

			&:hover {
				background-color: transparent !important;
			}
		}

		.byte-dropdown-menu {
			background-color: var(--plugin-background-color);
			border: 1px solid var(--plugin-border-color);

			.byte-dropdown-item {
				color: var(--plugin-text-color) !important;;

				&:hover {
					background-color: var(--plugin-hover-background) !important;
				}
			}
		}
	}

	// 输入框
	.byte-input {

		.byte-input__input {
			border-color: var(--plugin-border-color);
			background-color: var(--plugin-background-color) !important;
			color: var(--plugin-title-color) !important;

			&:hover {
				border-color: var(--plugin-border-color);
			}
		}
	}
}