.plugin-remove-button {
    margin: 10px auto;
    line-height: 40px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    background: rgba(29, 128, 255, 1);
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.plugin-remove-button:hover {
    background: rgba(29, 128, 255, 0.8);
}

.plugin-remove-button.disabled {
    background: rgba(29, 128, 255, 0.5);
    cursor: not-allowed;
}

.plugin-special-focus {
    position: fixed;
    bottom:100px;
    right:20px;
    background: #fff;
    width: 240px;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
}

.plugin-special-focus-title {
    padding: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid rgba(230,230,231,.5);
}

.plugin-special-focus-content{
    padding: 10px
}